
/* Colors
light brown:#f9f8f4
dark brown:#724f2a
medium brown:#dcd8ce
salmon:#dc6868
light salmon:#ff9999;
gray:#bebebe
light gray:#dddddd
dark gray:#707070
8e6336
*/



body{
	background-image: url("images/seamless_paper_texture.png");
	background-repeat: repeat;
	background-cover;
   	width: 100%;
   	height: 100%;
    	position: absolute;
    	display:block;
    
}
.wrapper{
	width: 90%;
	height: 100%;
	margin: 0 auto;	
}

.container{
	width: 90%;
	height:75%;
	background-color: #f9f8f4;
	display: block;
	margin: 0 auto;
	border:2px solid #ccc;
	display: flex;
    flex-direction: column;
}

header{
	width:95%;
	height:10%;
	display: inline-block;
	margin-bottom: 5%;
}

header li:first-child{
	margin-top: 1%;
	flex-grow:2;
}

header li:nth-child(2), header li:nth-child(3){
	margin-top: 2%;
	opacity: .7;
}

header li:nth-child(2):hover, header li:nth-child(3):hover{opacity: 1;}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;
    color:#724f2a;
    text-decoration: none;
    height: 85px;
    display: flex;
}

li:first-child{flex-grow:2;}

li {
    float: left;
    margin-left: 5%;
     font-family: 'Comfortaa', cursive;
    color:#724f2a;
    text-decoration: none;
    align-self:center;
}

nav li:first-child{margin-left: 0;}
a {
	font-family: 'Comfortaa', cursive;
    color:#724f2a;
    text-decoration: none;
    font-weight: bold;
}
a:hover{color:#dc6868;}

.top-nav{
	height: 130px;
	display: flex;
    flex-direction: row;
}

.top-nav img{padding-top: 1%;}

.banner{
	display: flex;
    justify-content: center;
    margin-left:2%;
	margin-right: 2%;
 }

article{
	width: 25%;
    float: left;
    margin-right: 2%;
    margin-left: 5%;
    text-align: center;
}
  nav > ul > li > a {text-decoration: none;}

.border{ position:relative;}

.border:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom:-50% ;/*Change this to increase/decrease distance*/
    border-bottom: 2px solid #ff9999;     
}

/* Navigation */

nav {
  	margin: 0 auto;
	padding: 1%;
	width: 84%;
	list-style-type: none;
  	display: -webkit-flex;
 	-webkit-flex-direction: row;
  	-webkit-justify-content: space-between;
  	-webkit-flex-wrap: wrap;
}

nav li:first-child:hover::after{border-bottom: none;}

nav ul {
    list-style-type: none;
    margin-top:4%;
    padding: 0;
	height:10%;
	display: inline-block;
	font-family: 'Comfortaa', cursive;
    color:#724f2a;
    text-decoration: none;
    height: 85px;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

nav ul:nth-child(2){border-bottom: 2px solid #dddddd;}

nav a {
	display: inline-flex;
	color: inherit;
	text-decoration: none;
}


/* typography */
h1{
	font:cofortaa;
	font-size: 2em;
	color:#724f2a;
	font-family: 'Comfortaa', cursive;
}

h2{
	text-align: center;
	font-size: 1rem;
	color:#724f2a;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
}

h3{
	text-align: left;
	font-size: .8rem;
	color:#724f2a;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
}

footer p{text-align: left;}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color:#707070;
}

section{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 90%;
	overflow: hidden;
}

.call-for-action{
	float:left;
	padding-left: 5%;

}

.container-sm{
	width: 90%;
	height: 45%;
	background-color: #f9f8f4;
	display: block;
	margin: 0 auto;
	border:2px solid #ccc;
}

.title{
	text-align: center;
	padding-top: 2%;
}

/* Button Styles*/


.button{float:right;}

.myButton {
	background-color:#dc6868;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {background-color:#ff9999;}

.myButton:active {
	position:relative;
	top:1px;
}

/*footer*/
footer{
	margin-top: 20%;
	padding-bottom: 15%;
	width: 80%;
	margin-left: 10%;
	font-size: .7em;
}
